<div class="container">
    @if(SelectedProject != null) {
    <div>
        <div>
            <div class="projectNameTitle">
                <h3>{{SelectedProject.projectName}}</h3>
            </div>
            @if(ShowNotification) {
            <div class="notification">
                <span>
                    <kendo-svg-icon class="notificationIcon" [icon]="bellIcon"></kendo-svg-icon>
                    You have requested <span class="hightlight">3 primary resource re assignment requests</span> <span
                        class="highlightText">View
                        requests</span>
                </span>
                <button kendoButton [svgIcon]="closeIcon" class="right" (click)="onCloseNotification()"></button>
            </div>
            }
            <div class="filterActivities">
                <div class="headingArea">
                    <h3>Filter Activities</h3>
                    <div class="right">
                        <button kendoButton class="hyperlinkBtnGreen">Clear Filter</button>
                        <button kendoButton [svgIcon]="moreHorizontalIcon"></button>
                        <button kendoButton [svgIcon]="downArrow"></button>
                    </div>
                </div>
                <div class="filterSelectionArea">
                    <div class="filterItem">
                        <kendo-label text="View As" />
                        <kendo-multiselect [data]="viewTypes" [(ngModel)]="selectedViewType"
                            (ngModelChange)="onViewTypeSelectionChanged()"></kendo-multiselect>
                    </div>
                    <div class="filterItem">
                        <kendo-label text="Functions" />
                        <kendo-multiselect [data]="Funcitons" [(ngModel)]="selectedFunctions"
                            (ngModelChange)="onFilterSelectionChange()"></kendo-multiselect>
                    </div>
                    <div class="filterItem">
                        <kendo-label text="Document Type" />
                        <kendo-multiselect [data]="DocumentTypes" [(ngModel)]="selectedDocumentTypes"
                            (ngModelChange)="onFilterSelectionChange()"></kendo-multiselect>
                    </div>
                    <div class="filterItem">
                        <kendo-label text="Activity Status" />
                        <kendo-multiselect [data]="StatusList" [(ngModel)]="selectedStatusList"
                            (ngModelChange)="onFilterSelectionChange()"></kendo-multiselect>
                    </div>
                    <div class="filterItem">
                        <kendo-label text="Activity Type" />
                        <kendo-multiselect [data]="ActivityTypeList" [(ngModel)]="selectedActivityTypes"
                            (ngModelChange)="onFilterSelectionChange()"></kendo-multiselect>
                    </div>
                    <div class="filterItem">
                        <kendo-label text="Finish By" />
                        <kendo-dropdownlist [data]="FinishByList" [(ngModel)]="selectedFinishBy" defaultItem="Select"
                            (ngModelChange)="onFilterSelectionChange()"></kendo-dropdownlist>
                    </div>
                    <div class="filterItem">
                        <kendo-label text="Date Type" />
                        <kendo-dropdownlist [data]="DateTypeList" [(ngModel)]="selectedDateType" defaultItem="Select"
                            (ngModelChange)="onFilterSelectionChange()"></kendo-dropdownlist>
                    </div>
                </div>
                <div class="DocumentTypeWithCountSelectionArea">
                    @for(item of DocumentTypeSelectionList; track $index) {
                    <button kendoButton (click)="onDocumentTypeClicked(item)" *ngClass="{ 'selectedDoc': item.isSelected }" >
                        {{item.Label + " (" + item.Count +")"}}
                    </button>
                    }
                </div>
                <div class="FwSummaryArea">
                    <button kendoButton [svgIcon]="leftArrowButton" class="navigateButton" (click)="onPrevFW()"
                        [disabled]="canEnableFWPrev()"></button>
                    @for(fw of FiscalWeekData; track $index) {
                    <button kendoButton (click)="onFiscalWeek($index)"
                        *ngClass="fw.fiscalWeek === 'Today' ? 'TypeToday' : fw.isCurrentFW ? 'TypeCurrFW' : 'TypeFW'">
                        <div>
                            @if (fw.fiscalWeek === 'Today') {
                            <kendo-label class=" fwHeading">{{fw.fiscalWeek}} </kendo-label>
                            }
                            @else {
                            <kendo-label class=" fwHeading">{{fw.fiscalWeek + ", " + fw.year}} </kendo-label>
                            }
                            <kendo-label class="fwCountData">{{fw.notCompleted + " of " + fw.total}} </kendo-label>
                        </div>
                    </button>
                    }
                    <button kendoButton [svgIcon]="rightArrowButton" class="navigateButton" (click)="onNextFW()"
                        [disabled]="canEnableFWNext()"></button>
                </div>
            </div>
        </div>
        <div class="activities">
            <div class="headingArea">
                <div class="left">
                    <h3>Activities</h3>
                    <kendo-label>Result: {{ActivityCount}} Activities</kendo-label>
                </div>
                <div class="right">
                    <div>
                        <kendo-textbox placeholder="Search" class="cornerRoundedTextBox" type="text"
                            [(ngModel)]="searchText" (ngModelChange)="searchTable()">
                        </kendo-textbox>
                        <kendo-svg-icon [icon]="searchIcon" class="searchIcon"></kendo-svg-icon>
                    </div>
                    <button kendoButton [svgIcon]="fullScreenIcon"></button>
                    <button kendoButton [svgIcon]="settingsIcon"></button>
                </div>
            </div>
            <div>
                <kendo-grid [data]="TabularData">
                    <kendo-grid-column field="PROJECT_ID" title="PROJECT_ID"> </kendo-grid-column>
                    <kendo-grid-column field="PROJECT_NAME" title="PROJECT_NAME"> </kendo-grid-column>
                    <kendo-grid-column field="ACT_ID" title="ACT_ID"> </kendo-grid-column>
                    <kendo-grid-column field="ACTIVITY_NAME" title="ACTIVITY_NAME"> </kendo-grid-column>
                    <kendo-grid-column field="PROMISE_DATE" title="PROMISE_DATE"> </kendo-grid-column>
                    <kendo-grid-column field="ACKNOWLEDGE" title="ACKNOWLEDGE"> </kendo-grid-column>
                    <kendo-grid-column field="ACKNOWLEDGE_DATE" title="ACKNOWLEDGE_DATE"> </kendo-grid-column>
                </kendo-grid>
            </div>
        </div>
    </div>
    }
    @else {
    <div>
        <h2>Please select one Project</h2>
    </div>
    }
</div>