<div class="container">
    @if(SelectedProject != null) {
    <div>
        <div class="projectNameTitle">
            <h2>{{SelectedProject.projectName}}</h2>
        </div>
        @if(HasAnyNotification) {
        <div class="notification">
            <kendo-svg-icon [icon]="messagesIcon"></kendo-svg-icon>
            <span>You have requested 3 primary resource re assignment requests <span class="highlightText">View
                    requests</span></span>
            <button kendoButton [svgIcon]="closeIcon" class="right"></button>
        </div>
        }
        <div>
            <div class="headingArea">
                <kendo-label text="Filter Activities" class="left" #Heading />
                <button kendoButton>Clear Filter</button>
                <button kendoButton [svgIcon]="moreHorizontalIcon"></button>
                <button kendoButton [svgIcon]="expandIcon"></button>
            </div>
            <div class="filterSelectionArea">
                <div>
                    <kendo-label text="View As" />
                    <kendo-multiselect [data]="viewTypes" [(ngModel)]="selectedViewType"></kendo-multiselect>
                </div>
                <div>
                    <kendo-label text="Functions" />
                    <kendo-multiselect [data]="Funcitons" [(ngModel)]="selectedFunctions"></kendo-multiselect>
                </div>
                <div>
                    <kendo-label text="Document Type" />
                    <kendo-multiselect [data]="DocumentTypes" [(ngModel)]="selectedDocumentTypes"></kendo-multiselect>
                </div>
                <div>
                    <kendo-label text="Activity Status" />
                    <kendo-multiselect [data]="StatusList" [(ngModel)]="selectedStatusList"></kendo-multiselect>
                </div>
                <div>
                    <kendo-label text="Activity Type" />
                    <kendo-multiselect [data]="ActivityTypeList"
                        [(ngModel)]="selectedActivityTypes"></kendo-multiselect>
                </div>
                <div>
                    <kendo-label text="Finish By" />
                    <kendo-dropdownlist [data]="FinishByList" [(ngModel)]="selectedFinishBy"
                        defaultItem="Select"></kendo-dropdownlist>
                </div>
                <div>
                    <kendo-label text="Date Type" />
                    <kendo-dropdownlist [data]="DateTypeList" [(ngModel)]="selectedDateType"
                        defaultItem="Select"></kendo-dropdownlist>
                </div>
            </div>
            <div class="DocumentTypeWithCountSelectionArea">
                @for(let item of DocumentTypeSelectionList track) {
                <button kendoButton (click)="onDocumentTypeClicked(item.ID)">{{item.Label + " (" + item.Count +
                    ")"}}</button>
                }
            </div>
            <div>
                <button kendoButton [svgIcon]="leftArrowButton" class="navigateButton"></button>
                @for(let iter=FWStart; iter < FWEnd; ++iter) { <button kendoButton (click)="onFiscalWeek(iter)">
                    <div
                        *ngClass="FWData[iter].Text === 'Today' ? 'TypeToday' : FWData[iter].isCurrentFW ? 'TypeCurrFW' : 'TypeFW'">
                        <kendo-label class=" fwHeading">{{FWData[iter].Text}} </kendo-label>
                        <kendo-label class="fw countData">{{FWData[iter].Text}} </kendo-label>
                    </div>
                    </button>
                }
                <button kendoButton [svgIcon]="rightArrowButton" class="navigateButton"></button>
            </div>
        </div>
    </div>
</div>
<div class="activities">
    <div class="header">
        <kendo-label text="Activities" class="left" />
        <kendo-label class="left">Result: {{ActivityCoutn}} Activities</kendo-label>

        <button kendoButton>Clear Filter</button>
        <div>
            <kendo-textbox placeholder="Search" class="cornerRoundedTextBox" type="text" [(ngModel)]="searchText"
                (ngModelChange)="searchTable()">
            </kendo-textbox>
            <kendo-svg-icon [icon]="searchIcon" class="searchIcon"></kendo-svg-icon>
        </div>
        <button kendoButton [svgIcon]="expand"></button>
        <button kendoButton [svgIcon]="settings"></button>
    </div>
    <div>
        <kendo-grid [kendoGridBinding]="gridView" kendoGridSelectBy="id" [(selectedKeys)]="mySelection"
            [selectable]="{ mode: 'multiple', drag: true }" [pageSize]="20" [pageable]="true" [sortable]="true"
            [groupable]="true" [reorderable]="true" [resizable]="true" [height]="500" [columnMenu]="{ filter: true }">
    </div>
</div>
</div>
}
@else {
<div>
    <h2>Please select one Project</h2>
</div>
}
</div>