
* {
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    gap:10px;
    width: 100%;
}

.cornerRoundedTextBox {
    border-radius: 30px;
    height: 25px;
}

.searchIcon {
    position: absolute;
    right: 20px;
    color: lightgray;
    margin: 5px;
}

.advanceSearch {
    display: block;
    background-color: rgb(20, 125, 100);
    border-radius: 5px;
    height: 30px;
    color: white;
    width: 100%;
    text-align: center;
    margin: auto;
    font-size: small;
}
.advSearchContent{
    text-align: center;
    display: flex;
    justify-self: center;
    justify-items: center;
    height: 100%;
    position:relative;
}

kendo-treeview {
    height: 100%;
}

.loader {
    z-index: 1;
    align-self: center;
    color: gray;
}


.text {
  display: block;
  width: 170px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.nodeItem {
    display: flex;
    justify-content: stretch;
    align-items: center;
}

favButton {
    width: 10px;
    height: 10px;
    justify-self: right;
    position: absolute;
    border-width: 0px;
    background-color: transparent;
    color: darkgreen;

    // ::picker-icon {
    //     width: 10px;
    //     height: 10px;
    //     color: darkgreen;
    // }
}

#nodeCheckbox {
    left: 5px;
    position: absolute;
}

#nodeProjectName {
    left: 35px;
    position: absolute;
}

