<div class="container">
    <!-- <kendo-textbox
        #textbox
        [style.width.px]="200"
        name="name"
        [(ngModel)]="value"
        required
      ></kendo-textbox> -->

      <div>
        <kendo-textbox placeholder="Search" class="cornerRoundedTextBox">
          <kendo-svg-icon [icon]="searchIcon" class="searchIcon" ></kendo-svg-icon>
        </kendo-textbox>
      </div>

      <button kendoButton class="advanceSearch">
        <span (click)="onAdvancedSearch()" class="advSearchContent">
                <kendo-svg-icon [icon]="rightIcon" class="right"></kendo-svg-icon>
                Advanced Search
                </span>
      </button>
      
      <kendo-label class="k-display-block" >Result: {{getProjectCount()}} Contracts</kendo-label>
      <div>
        @if(isDataLoading) {
        <span #loader>Loading...</span>
        }
      <kendo-treeview
      [nodes]="ProjectDataList"
      [textField]="['projectName', 'trainName', 'jobNumber']"
      [hasChildren]="hasChildren"
      [children]="children"
      kendoTreeViewExpandable
      kendoTreeViewSelectable
      [(selectedKeys)]="selectedKeys"
    >
    <ng-template kendoTreeViewNodeTemplate let-dataItem>
      <div #nodeTemplate>
      <kendo-checkbox #checkedState [checkedState]="dataItem.IsSelected"></kendo-checkbox>
        <kendo-label class="k-display-block mandatory" text="fetchText(dataItem)" ></kendo-label>

          @if (dataItem['isFavourite'] == true) {
            <button kendoButton [svgIcon]="favouriteIcon"></button>
          }
          @else if (dataItem['isFavourite'] == false) {
            <button kendoButton [svgIcon]="notFavouriteIcon"></button>
          }
      </div>
      </ng-template>
    </kendo-treeview>
    </div>
</div>
