
* {
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
}

.leftsideView {
    width: 350px;
    height: 100%;
    border-right-width: 1px;
    border-right-color: gray;
}

.headingArea {
    display: flex;
    height: 65px;
    //height: 25px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.left {
    justify-self: left;
    width: 100%;
    font-weight: bold;
    margin-left: 10px;
}

.right {
    justify-self: right;
    padding: 5px 10px;
}

kendo-tabstrip {
    font-size:x-small;
}

.separator {
    height: 1px;
    background-color: lightgray;
    width: 100%;
}

.verticalSeparator{
    height: 100%;
    width: 1px;
    background-color: lightgray;
}

button {
    border-width: 0px;
    background-color: transparent;
}

.rightSideView {
    justify-self: right;
    width: 100%;
}

.rightContainer {
    justify-items: right;
}

.content {
    justify-items: stretch;
}

.treeViewArea {
    background-color: red($color: #000000);
    justify-items: stretch;
    height: 100%;
}

// kendo-tabstrip-tab {
//     background-color: blue;
// }