/* You can add global styles to this file, and also import other style files */
// @use "@progress/kendo-theme-bootstrap/scss/index.scss" as * with (
//   $kendo-font-family: ('Poppins', sans-serif)
// );

// @include kendo-theme--styles();
$primary: rgb(20, 125, 100);
//@import "~@progress/kendo-theme-default/dist/all.scss";
@import "@progress/kendo-theme-default/scss/all.scss";

:root {
      --kendo-color-primary: #209474;
    }

* {
  font-family: 'Roboto', sans-serif;
}

// body,html {
//     margin: 0;
//     padding: 0;
// }