<div>
    <!-- <kendo-tabstrip (tabSelect)="onTabSelect($event)">
                <kendo-tabstrip-tab title="ISPO" [selected]="true">
                    <ng-template kendoTabContent>
                        <div class="content">
                            <router-outlet></router-outlet>
                        </div>
                    </ng-template>
                </kendo-tabstrip-tab>
                <kendo-tabstrip-tab title="VDR">
                    <ng-template kendoTabContent>
                        <div class="content">
                            <router-outlet></router-outlet>
                        </div>
                    </ng-template>
                </kendo-tabstrip-tab>
                <kendo-tabstrip-tab title="VDR Revision">
                    <ng-template kendoTabContent>
                        <div class="content">
                            <router-outlet></router-outlet>
                        </div>
                    </ng-template>
                </kendo-tabstrip-tab>
                <kendo-tabstrip-tab title="OTD Trends">
                    <ng-template kendoTabContent>
                        <div class="content">
                            <router-outlet></router-outlet>
                        </div>
                    </ng-template>
                </kendo-tabstrip-tab>
                <kendo-tabstrip-tab title="Engineering Productivity">
                    <ng-template kendoTabContent>
                        <div class="content">
                            <router-outlet></router-outlet>
                        </div>
                    </ng-template>
                </kendo-tabstrip-tab>
                <kendo-tabstrip-tab title="Technical Alignment">
                    <ng-template kendoTabContent>
                        <div class="content">
                            <router-outlet></router-outlet>
                        </div>
                    </ng-template>
                </kendo-tabstrip-tab>
            </kendo-tabstrip> -->
</div>

