
* {
    box-sizing: border-box;
}

.container {
    flex:1;
    justify-content: flex-start;
}

app-dashboard-header {
    position: relative;
}

.mainDashboard {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin: 0px;
    position: relative;
}

.moduleListView {
    display: flex;
    gap: 20px;
    height: 100%;
    width: 100%;
    justify-items: flex-start;
}

.content {
    display: inline-flex;
    height: 100%;
}

.navigationBar{
    height: 100%;
}

.card {
    padding: 10px;
    border-width: 10px;
    border-radius: 10px;
    border-color: black;
    width: auto;
    height: auto;
    margin: 10px;
}